@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vW;
    height: 100vh;
    background-image: linear-gradient(to right, #152a73, rgb(1, 2, 10));
    color: white;
    font-family: 'Cardo', serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 3rem;
    margin-right: 3rem;
    margin-left: 3rem;
    font-size: 32px;
}

header input {
    padding: .5rem 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
}

.input-search::placeholder {
    color: rgb(216, 216, 216);
}

.input-search:focus {
    background-color: transparent;
    color: white;
}

.input-btn {
    border: 1px solid black;
    padding: .5rem;
    border-radius: 10px;
    background-color: #FFD029;
    opacity: .9;
    color: black;
    font-size: 11px;
}

.input-btn:hover {
    opacity: .8;
}

.input-btn:active {
    background-color: #947917;
}

.header-text {
    text-align: end;
}

header h2 {
    color: #FFD029;
}

main {
    width: 100%;
    height: 100%;
    margin-top: -140px;
}

.planets-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


/* --- STYLING PLANETERNA --- */
.planet {
    border-radius: 50rem;
}

.planet-0 {
    width: 60rem;
    height: 60rem;
    margin-left: -55rem;

    background: #FFD029;
    box-shadow: 0px 0px 1000px 80px rgb(255, 232, 83);
    border-radius: 50%;
}

.planet-1 {
    width: 18px;
    height: 18px;
    background-image: linear-gradient(to left, #3b3b3b, #ababab);
    box-shadow: 0 0 10px 0 #cecece;
}

.planet-2 {
    width: 28px;
    height: 28px;
    background-image: linear-gradient(to left, #4e3535, #ff8d8d);
    box-shadow: 0px 0px 10px rgb(255, 236, 167);

}

.planet-3 {
    width: 32px;
    height: 32px;
    background-image: linear-gradient(to left, #143551, #3c97ec);
    box-shadow: 0px 0px 10px #50aaff;
}

.planet-4 {
    width: 18px;
    height: 18px;
    background-image: linear-gradient(to left, #611e1e 15%, #fe3c3c);
    box-shadow: 0px 0px 10px #ff7d7d;
}

.planet-5 {
    width: 188px;
    height: 188px;
    background-image: linear-gradient(to left, #3b230c 20%, #ff8a1d);
    box-shadow: 0px 0px 20px #ffbd80;
}

.planet-6 {
    width: 145px;
    height: 145px;
    background-image: linear-gradient(to left, #3a2f07 25%, #ffd437);
    box-shadow: 0px 0px 20px #ffdf9f;
}

.planet-7 {
    width: 65px;
    height: 65px;
    background-image: linear-gradient(to left, #282f3f 30%, #cedcff);
    box-shadow: 0px 0px 15px #dee8ff;
}

.planet-8 {
    width: 65px;
    height: 65px;
    background-image: linear-gradient(to left, #152535 35%, #88bef2);
    box-shadow: 0px 0px 15px #a2c5e6;
}

.planet:hover {
    cursor: pointer;
}

.planet-0:hover {
    scale: 1.03;
}
.planet-1:hover {
    scale: 1.6;
}
.planet-2:hover {
    scale: 1.4;
}
.planet-3:hover {
    scale: 1.4;
}
.planet-4:hover {
    scale: 1.6;
}
.planet-5:hover {
    scale: 1.06;
}
.planet-6:hover {
    scale: 1.1;
}
.planet-7:hover {
    scale: 1.2;
}
.planet-8:hover {
    scale: 1.2;
}


.modal {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 15%;
    top: 10%;
    width: 70%;
    height: 80%;
    overflow: auto;
    background-color: #152a73;
    font-size: 20px;
}

.close-modal {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.planet-text-container {
    height: auto;
    width: 50%;
    margin-top: 6rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid white;
}

.planet-name-latin {
    margin-bottom: 2rem;
}

.planet-info-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    padding-bottom: 5rem;
}

.planet-info {
    margin-top: 1rem;
}